[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/mana"]
	path = themes/mana
	url = https://github.com/Livour/hugo-mana-theme.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
